.main{
  padding:1cm;
  margin:1cm;
  background:#000d61;
}


.header{
  padding:1cm;
  margin:1cm;
  background:#009688;
}

.contents{
  padding: 1cm;
  margin:1cm;
  background:#6a684b;
}

.todo{
  text-align: center;
  color: #000d61;
  padding: 1cm;

}

.todo_input{
  text-align: center;
  margin: 2cm;
}

.footer{
  padding: 2cm;
  margin:1cm;
  background: #FFFFFF;
;
}

